<h1>{{tripsHbs.title}}</h1>
{{tripsHbs.start}}-{{tripsHbs.end}}<br>
{{tripsHbs.address}}<br>
<a href="/trips/update/{{tripsHbs._id}}">update</a><br>
<a href="/trips/delete/{{tripsHbs._id}}">delete</a>